<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="refresh" content="1" /> -->
    <title>Score</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <section class="update-pop-up">
      <img src="/img/refresh-button.png" alt="">
    </section>
    <main>
      <section class="instruction-text">
        <h2>Houdt jouw score bij<h2>
        <p>
          Welkom bij de website om de scores bij te houden van jouw favoriete team. De score bijhouden is heel simpel, als er iets is gebeurten dan sla je de wijzigingen op door middel van de opslaan knop.
        </p>
      </section>
      <form class="" action="/change-score" method="post">
        <section class="teamSection">
          <section class="logo">
            <img src="{{ homeTeam.logo }}" alt="logo {{ homeTeam.name}}">
          </section>
          <!-- <h2>{{ homeTeam.name }}</h2> -->
          <label for="scoreHome">Score Home</label>
          <input type="number" id="scoreHome" name="scoreHome" min="0" max="50" value="{{ homeTeam.score }}">
          <label for="yellowCardsHome">Yellow Cards Home</label>
          <input type="number" id="yellowCardsHome" name="yellowCardsHome" min="0" max="22" value="{{ homeTeam.yellowCards }}">
          <label for="redCardsHome">Red Cards Home</label>
          <input type="number" id="redCardsHome" name="redCardsHome" min="0" max="5" value="{{ homeTeam.redCards }}">
          <label for="foulsHome">Fouls Home</label>
          <input type="number" id="foulsHome" name="foulsHome" min="0" max="100" value="{{ homeTeam.fouls }}">
        </section>
        <section class="teamSection">
          <section class="logo">
            <img src="{{ awayTeam.logo }}" alt="logo {{ awayTeam.name}}">
          </section>
          <!-- <h2>{{ awayTeam.name }}</h2> -->
          <label for="scoreAway">Score Away</label>
          <input type="number" id="scoreAway" name="scoreAway" min="0" max="50" value="{{ awayTeam.score }}">
          <label for="yellowCardsAway">Yellow Cards Away</label>
          <input type="number" id="yellowCardsAway" name="yellowCardsAway" min="0" max="22" value="{{ awayTeam.yellowCards }}">
          <label for="redCardsAway">Red Cards Away</label>
          <input type="number" id="redCardsAway" name="redCardsAway" min="0" max="5" value="{{ awayTeam.redCards }}">
          <label for="foulsAway">Fouls Away</label>
          <input type="number" id="foulsAway" name="foulsAway" min="0" max="100" value="{{ awayTeam.fouls }}">
        </section>
        <input type="submit" name="button" id="submit-btn" value="Sla gebeurtenissen op">
      </form>
    </main>
    <footer>
      <!-- <nav>
        <ul>
          <a href="/start-time"><li>Start</li></a>
          <a href=""><li>Pauze</li></a>
          <a href=""><li>Finish</li></a>
        </ul>
      </nav> -->
    </footer>
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>
